body{
    background-color: black;
}
.nav{
    display:inline;
    background-color: white;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav a{
    color:black;
    font-family: fantasy;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}
li{
    color: white;
    font-family: fantasy;
}
.theme{
    display:inline;
    background-color:white;
    font-family: fantasy;
}
#txttheme{  
    background-color: black;
}
#theme{
    float:right;
    margin-right:10px;
}
section{
    float:right;
}
a{
    color:white;
    font-family: fantasy;
}
p{
    color:white;
    font-family: fantasy;
}
.chartecomplete:hover:before{
    content:">>";
}
h1{
    color: white;
    font-family: fantasy;
}
h1:hover{
    color:red;
    font-family: fantasy;
}
div{
    color: white;
    font-family: fantasy;
}