.nav{
    display:inline;
    background-color: black;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav a{
    color:white;
    font-family: fantasy;
    text-decoration: none;
}
nav a:hover{
    background-color: gray;
}
.color{
    display:inline;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
a{
    color:black;
    font-family: fantasy;
}
p{
    color:black;
    font-family: fantasy;
}
.chartecomplete:hover:before{
    content:">>";
    font-family: fantasy;
}
body{
    background-color: white;
}
h1{
    color: black;
    font-family: fantasy;
}
h1:hover{
    color:red;
    font-family: fantasy;
}
li{
    color: black;
    font-family: fantasy;
}
div{
    color: black;
    font-family: fantasy;
}