.nav{
    display:inline;
    background-color: white;
    margin-right: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav a{
    color:black;
}
nav a:hover{
    background-color: gray;
}
a{
    text-decoration: none;
    color:blue;
}
body{
    background-color: black;
}
h1{
    color: white;
}
h1:hover{
    color:red;
}
li{
    color: white;
}
div{
    color: white;
}